
a {
	float: none;
}
/*
body, html {
  min-height:100%;
  padding:0;
  margin:0
}
body {
  font:12px/1.2em Arial, Helvetica, sans-serif;
  color:#999;
  padding:0 100px;
  margin:0;
}
*/
.header {
  background:#ccc;
  padding:10px;
  text-align:center;
  margin:0 0 20px 0;
}
.conteiner {
  margin: auto;
  max-width: 800px;
}
hr{clear:both}
/*plugin css*/

/*skin Plank [.skinPlank]*/
 .skinPlank, .skinPlank ul {
  margin:0;
  padding:0;
  list-style:none;
}
.skinPlank ul {
  display:none;
  //zoom:1
}
.skinPlank li {
  list-style:none;
  padding:0;
  margin:0;
  display:block;
  //zoom:1;
}
.skinPlank a {
  font:19px/1.2em Arial, Helvetica, sans-serif;
  color:#fff;
  background:#7F7F7F;
  padding:6px 25px 4px 10px;
  display:inline-block;
  text-decoration:none;
  box-shadow:inset 0 5px 10px -5px #454545;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position:relative
}
.skinPlank a:hover, .skinPlank a.cur {
  background:#5c5c5c
}
.skinPlank ul li {
  border-top:1px solid #ccc;
}
.skinPlank ul a {
  font:12px/1.2em Arial, Helvetica, sans-serif;
  color:#808080;
  padding:7px 10px 7px 10px;
  background:#E5E8EB;
  box-shadow:none;
  display:block;
  text-decoration:underline
}
.skinPlank ul a.cur {
  color:#000;
  background:#E5E8EB;
}
.skinPlank ul a:hover {
  background:#CED3D9
}
.skinPlank ul ul li {
  border-top:1px solid #b1b7be;
  margin:0 0 0 10px
}
.skinPlank ul ul a, .skinPlank ul ul a.cur {
  background:#CED3D9
}
.skinPlank ul ul a:hover {
  background:#c0c5cc
}
.skinPlank a.harFull:before {
  //zoom:1;
  content:'';
  width: 0;
  height: 0;
  border:0;
  border-top: 4px solid transparent;
  border-left: 5px solid #fff;
  border-bottom: 4px solid transparent;
  display:block;
  margin:7px 0 0 10px;
  position:absolute;
  top:6px;
  right:10px;
}
.skinPlank ul a.harFull:before {
  //zoom:1;
  content:'';
  border-left-color: #7d7d7d;
  margin-top:4px;
}
/*skin Clear [.skinClear]*/
 .skinClear, .skinClear ul {
  list-style:none;
  padding:0;
  margin:0;
  font:14px/1.2em Arial, Helvetica, sans-serif
}
.skinClear ul {
  display:none;
  margin:0 0 0 10px;
  //zoom:1
}
.skinClear li {
  list-style:none;
}
.skinClear a {
  color:#888;
  display:block;
  position:relative;
  text-decoration:none;
  padding:1px 0 1px 9px;
}
.skinClear a:before {
  //zoom:1;
  content:'';
  width: 0;
  height: 0;
  border:0;
  border-top: 3px solid transparent;
  border-left: 4px solid #ccc;
  border-bottom: 3px solid transparent;
  display:inline-block;
  position:absolute;
  top:5px;
  left:0px;
  margin:0 4px 0 0;
}
.skinClear a.harFull.harOpen:before {
  border:0;
  border-left: 3px solid transparent;
  border-top: 4px solid #000;
  border-right: 3px solid transparent;
  top:7px;
}
.skinClear a.harFull:before {
  border:0;
  border-top: 3px solid transparent;
  border-left: 4px solid #000;
  border-bottom: 3px solid transparent;
  top:5px;
}
.skinClear a:hover {
  text-decoration:underline;
}
.skinClear a.cur {
  color:#000
}
.skinClear a.harOpen {
  color:#000
}